.user-nav {
    border-bottom: 1px solid #dee2e6;
    z-index: 1034;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    width: 100%;
}

.custom-login-page {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 50vh;
    -ms-flex-pack: center;
    justify-content: center;
}
